@import '../../vars.scss';

.contentFather {
	padding: 15px;
	background-color: white;
	border-radius: 4px;
	max-width: 90%;
}

.imageItself {
	width: 100%;
	padding-bottom: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.imageTitle {
	margin-top: 8px;
}